.gallery-warper {
  width: 70%;
  padding-top: 5%;
  margin: auto;
}

.gallery-root {
  text-align: center;
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}

.form-tag {
  display: flex;
  align-items: center;
  width: 50%;
  margin: auto;}

.tag-text-box {
  flex-grow: 2;
}
