.crop {
  text-align: center;
  display: flex;
  width: 70%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5%;
  margin: auto;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}
