.image-root {
  background-size: cover;
  background-position: center center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 1px solid black;
  margin: 10px;
  
  &:hover > div {
    visibility: visible;
  }

  > div {
    visibility: hidden;
    position: absolute;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    color: white;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .image-icon {
    font-size: 20px;
    vertical-align: middle;
    border: 1px solid #ccc;
    color: #ccc;
    width: 40%;
    height: 40%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    cursor: pointer;
    padding: 10%;
    margin: 3px;

    &:hover {
      color: white;
      border-color: white;
    }
  }
}

.horizontal {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  transition: transform 0.4s;
}

.orginal {
  -moz-transform: none;
  -o-transform: none;
  -webkit-transform: none;
  transform: none;
  transition: transform 0.4s;
}

.bigger {
  transform-origin: top left;
  transform: scale(2);
  z-index: 1;
  transition: transform 0.4s;
}

.heart-circle {
  position: absolute;
  top: 5%;
  right: 5%;
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  padding: 2.5%;
  font-size: 30px;
  transition: 0.5s;

  &:hover {
    background-color: white;
  }
}

.image-style {
  object-fit: cover;

}
